[Unit]
Description=Zeta Telegram Bot
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/root/zeta-bot
Environment=PATH=/root/zeta-bot/botenv/bin
ExecStart=/root/zeta-bot/botenv/bin/python3 /root/zeta-bot/bot.py
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
